/* The styling */

body {
  background-color: #4b0082;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card {
  border: 7px solid #008b8b;
  box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #008b8b;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.card-text {
  font-style: italic;
  justify-content: space-between;
  color: teal;
}

div.card-footer {
  font-family: "Noto Sans JP", sans-serif;
}

div.card-header {
  font-family: "Noto Sans JP", sans-serif;
}

div.input-group {
  width: 1000px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul .items {
  border-radius: 20px;
  justify-content: space-between;
  margin: 5px;
}

ul img {
  margin: 0 auto;
  width: 40%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
}

/ul {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

#footer {
  background-color: white;
  border: 7px solid #008b8b;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}